.vscode/
.history/
.idea/
*.sublime-workspace
*.sublime-project
*.code-workspace
*.tmp
*.log
*.bak
*.swp
*.DS_Store

#ignorar de python 
AdameV/
__pycache__/
*.pyc
*.pyo
.vscode/
.idea/
.DS_Store
Thumbs.db